<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataProcessorHelper.Properties.LustUpdateSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DataProcessorHelper.LustUpdateSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataProcessorHelper.Properties.LustUpdateSettings>
            <setting name="Articles" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Orders" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Deliveries" serializeAs="String">
                <value>0</value>
            </setting>
        </DataProcessorHelper.Properties.LustUpdateSettings>
        <DataProcessorHelper.LustUpdateSettings>
            <setting name="Articles" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Orders" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Deliveries" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExportData" serializeAs="String">
                <value />
            </setting>
        </DataProcessorHelper.LustUpdateSettings>
    </userSettings>
</configuration>